.App {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  position: relative;
}
h1 {
  text-align: center;
  color: #427aa1;
  font-size: 2.5em;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #9bb6d41f;
  color: #576370;
}
label,
input,
button {
  font-size: 1.5em;
}
